
/**************************************Landing page*/
.img1 {
    background-image:linear-gradient(to right,#e3ccac, #bd8e8e);
    position: relative;
    opacity: 0.60;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    
}

.name {
    font-size: 60px;
    color: #17223b;
}

.p1 {
    font-size: 35px;
    color: #17223b;
}

/*********************************Nav*/
.nav-link {
    text-align: right;
    color: #fafafa;
    
}

/********************************/


.name-border{
    text-align: center;
    position: absolute;
    top:40%;
    left: 20%;
    right: 20%;
    color: ;
    width: 60%;
    
    
    
    font-family: 'abril fatface', cursive;;
    
    }
    
span.border{
    border: none;
}    

/*******************************************************/


/**************************************About Me / Timeline*/
div.col-6.about-me{
    position: absolute;
}



.about-me{
    
    padding: 60px;
    background-color: #;
    position: absolute;
    font-family: 'Raleway' ,sans-serif;
    
}


.personal-info {
    font-size: 26px;
    
}

.work-timeline{
  
  
    position: relative;
    padding: 20px;
    background-color: #;
    
    
}



.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #314a52;
    border-right: 1px solid;
    font-family: 'Raleway', sans-serif;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    right: 2em;
    top: 2.5em;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}


.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    right: -6px;
    border-radius: 12px;
    content: '';
    background: #314a52 ;
    font-family: 'Raleway', sans-serif;

}

.past-items {
    margin-top: 50px;
    margin-bottom: 50px;
}


/**********************************Spacing/img2*/


#img2{

    min-height: 30vh;
}


/*************************************************Skills bar/Portfolio*/

.skills-bar{
   background-color: ;
   min-height: 60vh;
}

div.progress-bar{
    background-color: #c5c5c5;
}

div.progress{
    margin: 25px;
    height: 30px;
    font-size: 1rem;
  
}

.portfolio{
    background-color: ;
}


/***********************************************Form/Social section*/

.form-section{
    background-color: ;
    text-align: center;
    min-height: 50vh;
    
}

.social-section{
    background-color: ;
    
}

.fa {
  padding:20px;
  margin: 20px;
  
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: # ;
  color: #314a52;
  
}

a.fa{
    display: block;
}

.fa:hover {
  color: black;
}